
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p{
  margin: 0
}

a{
  text-decoration: none;
  color: #363636;
}
body {
  margin: 0;
  padding: 0;
  margin-bottom: 20%;
  font-family: 'Montserrat', sans-serif;
}
button{
  font-family: 'Montserrat', sans-serif;
}


.trainercard{
  display: grid;
  grid-template-columns: 20% auto 20%;
  margin-bottom: 5%;
  grid-template-areas: 
    "img name price"
  
  
}

.img-train-list{
  grid-area: img;
  width: 80px;
  height: 80px;
}

.name-trainer{
  grid-area: name;
  margin-left: 7%;
  align-self: center;
  margin-bottom: 0
}

.price-trainer{
  grid-area: price;
  align-self: center;
  margin-bottom: 0
}

.trainercard-link{
  display: flex;
  justify-content: space-around
}



.user-trainer-list{
  list-style: none;
  display: flex;
  margin-top: 3%
}

h3, h1{
  text-align: center;
  color: #363636;
}

ul{
  list-style: none;
}

.formrow {
	overflow:hidden;
	position:relative;
	max-width:300px;
	margin:auto;
	padding:10px;
}
.checklabel {
	display:block;
	width:100%;
	background-color: #fff;
	border: none;
  border-radius: 45px;
	text-align:center;
	padding:10px 3em;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.checklabel:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

.checkbox {
	position:absolute;
	right:10px;
	top:15px;
	width: 2.2em;
	height: 2.2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:none;
	padding:0;
	border-radius:0;
	vertical-align: middle;
	
	background-repeat:no-repeat;
	background-size:cover;
	background-color:transparent;
	background-position:-10em -10em;
	transition:.3s ease;
	outline:0;
}

.checkbox:active + label {
	background-color: #ddd;
}
.checkbox:checked {
  background-position: 0 0;
}

iframe{
  width: 100%
}


/* ---- auth ---- */
.background-auth{
  background-image: url('./images/z16854718Q\,Anna-Lewandowska-podczas-cwiczen.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.gradiend{
  background-image: linear-gradient(to left bottom, #f46b45, #f47b42, #f38b42, #f19a44, #eea849);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92
}

.auth-form{
  height: 90%;
  width: 70%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
}

.input-auth{
  border-bottom-color: rgba(212,212,216, 1);
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 4%;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    margin-bottom: 10%;
    color: #2F323A;
    width: 90%;
    outline: none;
    border-width: thin;
}

.input-auth::placeholder{
  color:white;
  opacity: 0.8;
  font-weight: 100;
}

.signup-header{
  color: white;
  font-size: 2.8em;
  margin-bottom: 15%;
}

.sign-up-but{
  font-size: 1em;
    padding: 4%;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #2F323A ;
    background:#E8CEA0;
    border: none;
    margin-top: 15%;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 90%;
    outline: none
}

.aldready-log{
  color: #2F323A ;
  font-size: 0.8em;
  margin-top: 8%

}

/* ---- home ---- */

div.home{
  background-color: #eea849;
  width: 100%;
  height: 92%;
  position: absolute;
}

img.logo-home{
  width: 95%
}

.logo{
  text-align: center;
  
}


.find{
  font-size: 2em;
  text-align: center;
  color:#E8CEA0;
  margin-bottom: 20%
}

/* ---- list ---- */

.img-trainer{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* ---- trainer profile ---- */
.img-profile{
  width: 100%
}

.container{
  width: 85%;
  margin: 0 auto
}

.description{
  color: #363636;
  line-height: 1.8em;
  text-align: justify;
}

.videos{
  font-size: 1em;
  padding: 4%;
  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  color: #363636 ;
  background: transparent;
  border-color: #f46b45;
  margin-top: 10%;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  outline: none;
  text-align: center
}

/* ---- email---- */

form.form-email{
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding: 4% 4% 8% 4%
}

input.email{
  border-bottom-color: #B2B2B2;
  opacity: 0.5;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  padding: 4%;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  outline: none;
  border-width: thin;
  margin-bottom: 3%
}

input.email:focus{
  border-color: #eea849;
}

.email-label{
  margin-top: 3%
}

textarea.email{
  border-bottom-color: #B2B2B2;
  opacity: 0.5;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  padding: 4%;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  outline: none;
  border-width: thin;
}

.for-form{
  width: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20%;

}
/*---pref----*/
input[radio]{
  background: #2EE59D
}

.list-pref{
  text-align: center;
  padding-left: 0;
}
.namea{
  font-size: 1.3em;
  color: white
}
.li-radio{
  margin-top: 5%
}

.pref-pagee{
  background-color: #eea849;
  width: 100%;
  height: 92%;
  position: absolute;
}

.header-pref{
  color:#E8CEA0;
}

.titles{
  text-align: center;
  color:#363636;
  margin-top: 10%
}

.pref-next{
  width: 100px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: white;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  float: right;
}

.city-input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.4px solid white;
  border-width: thin;
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
  padding-left: 2%
}

.city-input::placeholder{
  color: white;
  opacity: 0.5;
}

.sub{
  width: 190px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  bottom: 40px;
  margin-top: 10%;
  margin-left: 25%
}
.cont-pref{
  margin: 0 auto;
  width: 90%
}
  /*----traines profile----*/
  .cont-name{
    background: white;
    top: 330px;
    position: absolute;
    border-radius: 45px;
    width: 85%;
    justify-content: middle;
  }

  .goals-train{
    list-style: none;
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 0.95em;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .goals-li{
    color: white ;
    background:linear-gradient(to right, #f46b45, #f47b42, #f38b42, #f19a44, #eea849);
    padding: 3% 10%;
    border-radius: 45px;
    font-size: 0.9em;
    margin-right: 2%;
    margin-bottom: 3%
  }

  .img-profile-div{
    width: 100%;
    height: 40%
  }

  .img-profile{
    object-fit: cover;
    width: 100%;
    height: 350px;
  }

  .follow{
    background:linear-gradient(to right, #f46b45, #f47b42, #f38b42, #f19a44, #eea849);
    border: none;
    color: white
  }

  .back{
    margin-top: 15%;
    color:#f46b45
  }

  /*----user profile----*/

  .profile{
    margin: 0 auto;
    width: 90%
  }

  h1.name-profile{
    margin-top:15%;
    text-align: left
  }

  .mypref{
    font-size: 1.2em;
    border-bottom-color: rgba(212,212,216, 1);
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 15%;
    padding-bottom: 3%;
    border-width: thin;
    outline: none;
    padding-right: 15%;
    text-align: center;
    color: rgb(83, 83, 83);
    margin-bottom: 7%;
  }

  .mypref:hover{
    border-color: #eea849;
  }

  


  .goal-pre{
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 5%;
  }
  
  /*----navbar----*/

  .nav-icon{
    width:30%
  }

  div.navbar{
    bottom:0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: #FAFAFA;
    margin: 0 auto;
    width: 100%;
    padding: 3%;
    border-top: 0.4px solid #B2B2B2;
    border-width: thin
  }
  
  .linksnav{
    text-align: center
  }

  /*-- is loading */

  .city-pro{
    margin-bottom: 7%;
  }

  .about{
    margin-bottom: 2%
  }