
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

div.navbar{
  bottom:0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between
}

div.trainercard{
  display: flex;
  justify-content: space-around
}

